{% extends "layout.html" %}
{% block content %}
<body class="edit-create-body">
    <center>
        <form action="{{ url_for('update_author', id=author.id) }}" method="POST" class="edit-create-form">
            <h1>Add a New Author</h1>
            <input type="text" id="author_name" name="author_name" value="{{ author.name }}" placeholder="Author Name" required>
            <textarea name="bio" id="bio" placeholder="Author Bio" value="{{ author.bio }}">{{ author.bio }}</textarea>
            <button type="submit" class="edit-create-btn">Update Author</button>
            <a href="{{ url_for('authors_list') }}">Go Back</a>
        </form>
    </center>
</body>
{% endblock %}
